	video{
	width: 500px;
	height: 400px;
}

.container{
	position: relative;
	width: 500px;
	height: 400px;
}
#play{
	position: absolute;
	margin: 0 auto;
	width: 50px;
	height: 50px;
	top:45%;
	left: 20%;
	display: none;
}
#stop{
	position: absolute;
	margin: 0 auto;
	width: 50px;
	height: 50px;
		top:45%;
	left: 65%;
	display: none;
}
.buttons{
	position: absolute;
	width: 500px;
	height: 400px;
	top: 0;
	left: 0;
}